/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
	font-family: 'Bungee Shade', cursive;
}

.container {
	width: 100%;
	text-align: center;
}

#generate-button {
	margin-top: 20px;
}

#guess-input-container {
	width: 25%;
	margin: auto;
	margin-top: 20px;
}

#guess-input {
	text-transform: lowercase;
}

#letter-row {
	margin-top: 20px;
}

.key-space {
	height: 40px;
	width: 40px;
	margin: 8px;
}

#game-info-row {
	margin-top: 30px;
}

// Media Queries =====================================================================
@media only screen and (max-width: 400px) {
	#guess-input-container {
		width: 75%;
	}
}