<nav class="navbar navbar-default navbar-inverse">
 	<div class="container-fluid">
   		<div class="navbar-header">
      		<a class="navbar-brand" href="#">JS Capstone</a>
    	</div>
  	</div>
</nav>